doctype html

html(ng-app="ParallelEval")
  meta(charset="utf-8")
  title Title

  link(rel="stylesheet", href="../css/style.css")

body
  .wrapper(parallel-eval)
    .canvas#canvas

    form.controls(ng-submit="controller.rebuild($event)")
      .input.controls__item
        input(ng-model="controller.expression")
      button.button.controls__item(type="submit") Перестроить граф

    .tabledata
      table.tabledata__table
        thead
          tr
            th Проц-ов(p)
            th Тактов(T)
            th Ускорение(S)
            th Эффективность(E)

        tbody
          tr(ng-repeat="i in controller.data")
            th {{i.p}}
            td {{i.t}}
            td {{i.s}}
            td {{i.e}}


  script(src="../bower_components/angular/angular.js")
  script(src="../bower_components/raphael/raphael.js")
  script(src="../js/app.js")
