doctype html

html(ng-app="ParallelEval")
  meta(charset="utf-8")
  title Title

  link(rel="stylesheet", href="../css/style.css")

body
  .wrapper(parallel-eval)
    .canvas#canvas
    form.controls(ng-submit="controller.redraw($event)")
      .input.controls__item
        input(ng-model="controller.expression")
      button.button.controls__item(type="submit") Перестроить граф

  script(src="../bower_components/angular/angular.js")
  script(src="../bower_components/raphael/raphael.js")
  script(src="../js/app.js")
